---
permalink: /
layout: "default"
---


<h1>Ensembl core data model</h1>

<p>
This is the landing page for the project, and I have no clue what to put here. An as-yet-unwritten summary of the project,
most likely. Or a logically grouped table of contents. Or something else. I don't know. This page can contain anything we want, really.
We are in full creative control, but I am out of ideas. It can have a different layout from the rest of the pages.
It doesn't have to have that list of articles on the left-hand side. I'm writing all this just to fill up the space, really.
Better this than a lorem ipsum.
<p>

<p>
And look, there also is a search box in the top right corner. And it can even do some resemblance of full-text search.
Typically, full-text search is one of the weakest spots of a plain static site; but it still can be achieved using
a client-side index of the articles. It isn't perfect, by any stretch of the imagination.
For example, it doesn't yet rank a match in the title of the document higher than a match in its body;
although I believe this might be achieved. But it does the job.
<p>

<p>
Anyway, to see a more realistic example, click on any of the articles on the left.
<p>
